<%# not really login but we're just invoking the active admin css style here %>
<div id="login">
  <h2>Voter Registration</h2>

  <p class="alert info">For your vote to legally count toward the enactment of the NCID our staff must check your government registration in your home state. To do that we need you to fill in the registration form below, which is a composite of the registration information requested by most state governments.</p>

  <%= render :partial => "register" %>
</div>
