<ul class="testimonials unstyled">
    <% testimonials.each do |t|%>
        <li class="testimonial">
            <%= image_tag(t[:user][:avatar], :class => "userpic") %>
            <p class="body">
                <%= t[:body] %>
            </p>
            <span class="fullname">~ <%= t[:user][:fullname] %></span>
        </li>
    <% end %>
</ul>
