<% content_for(:title) do %>Home<% end %>

<div class="row">
    <div class="span8">
        <!-- big vote button graphic here -->
    </div>
    <div class="span4">
        <%= render :partial => "shared/testimonials", :locals => {:testimonials => @testimonials} %>
    </div>
</div>
