<% content_for(:title) do %>Home<% end %>

<div class="row">
    <div class="span8">
        <!-- some big vote button graphic here -->
        <%= link_to "Vote!", new_vote_path(:initiative_code => DEFAULT_INITIATIVE), :class => "vote_button huge" %>
    </div>
    <div class="span4">
        <%= render :partial => "shared/testimonials", :locals => {:testimonials => @testimonials} %>
    </div>
</div>
