<div class="overlay_bg"></div>
<p>You wil receive three communications from us during the course of this national election (phone or email): first acknowledging your vote and sending you the text of the NCID (and thanking the voter for his vote); second, you will receive a report of the results of our verification of your registration status with your home state government. If you registration is OK we will let you know, if not, we will help you get properly registered, after which you will have to vote again for the NCID. The third communication will come later in the election process when we will require signed documentation that you actually voted thereby strengthening the legality of the Philadelphia II election permitting you to empower yourself. </p>

<p>I am sure you can appreciate that conducting a national election is a costly undertaking. Neither Philadelphia II nor the Democracy Foundation receives any funds from the government, which would not help with this election since the results will dilutes the power of government representatives in favor of the people.</p>

<p>Therefore we have to rely on the contributions of private citizens and voters to cover the cost of this historic election, the results of which in effect change the paradigm of human governance.</p>

<p>Won't you please back up the contribution of your vote has made to the election's results with a monetary contribution. No amount is too modest.</p>

<p><a href="#" class="btn btn-primary">YES</a>&nbsp; I would like to donate toward my own empowerment.</p><br/>
<p><a href="/" class="btn">NO</a>&nbsp; I do not wish to donate at this time.</p>
