// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

li.input{ list-style-type: none; }
.input.check_boxes input{ margin-right: 5px; }

#title_bar .action_item a.important{
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}
