<h1>Frequently Asked Questions</h1>
<h2>What is the National Citizens Initiative for Democracy?</h2>
<dl>
  <dt><a href="http://ni4d.us/en/node/115">Q: What is the central power of government?</a></dt>
  <dd><p>A: The central power of government is lawmaking. Laws determine if, when, how and which citizens can vote. Laws are the tools through which we are governed by our representatives. Ordinary citizens can participate in controlling their government by becomig lawmakers. Marcus Cicero pointed out, more than two thousand years ago, that: freedom is participation in power. Until the people participate in the central power of government -- making laws -- they will never be truly free.</p>
  </dd>
  <dt><a href="http://ni4d.us/en/initiative-definition">Q: What is an initiative?</a></dt>
  <dd><p>A: An initiative is a legislative proposal that can be enacted into law by ordinary citizens. An initiative consists of:</p>
    <ul>
      <li>A proposed statute (law) or constitutional amendment</li>
      <li>The proposal is discussed and deliberated upon</li>
      <li>Citizens vote on the proposal in an election conducted by the Citizens Trust</li>
    </ul>
  </dd>
  <dt><a href="http://ni4d.us/en/faq-national-initiative">Q: What is the National Citizens Initiative for Democracy?</a></dt>
  <dd><p>A: Please visit <a href="http://ni4d.us/en/national_initiative">here</a>.</p></dd>
  <dt><a href="http://ni4d.us/en/initiative_referendum">Q: What is the difference between initiative and referendum?</a></dt>
  <dd><p>A: Types of referendum and initiative include:</p>
    <ul>
      <li>Referendum - The legislature refers a piece of legislation to the people to either approve or reject it by vote.</li>
        <ul>
          <li>Compulsory referendum - Typically new constitutions must be submitted to the people for approval before they are considered ratified. Some states also require that bond measures be approved by referendum.</li>
          <li>Voluntary referendum - The legislature may, at their option, refer a piece of legislation to the people.</li>
          <li>Popular referendum - The people may challenge a law recently passed by the legislature. If enough signatures are gathered, the law will be put to a vote by the people who may vote to nullify the law.</li>
        </ul>
      </li>
      <li>Initiative - Citizens draft a proposed law</li>
        <ul>
          <li>Indirect initiative - Citizens draft a proposed law and present it to the legislature. The legislature may adopt it outright. Otherwise, the proposal goes on the ballot, sometimes with a counterproposal designed by the legislature.</li>
          <li>Direct initiative - Citizens draft a proposed law and it goes on the ballot.</li>
        </ul>
    </ul>
    <p>Indirect initiative is rarely used where direct initiative is available (Washington state has both). Popular referendum is also infrequently used because it is less powerful than direct initiative (most initiative states have both). Referendum can merely repeal laws. Direct initiative can both repeal an old law and replace it with a new one. Direct initiative is flexible, but it suffers from one conspicuous drawback.</p>
    <p>In a legislature, many interested parties contribute to the drafting of a proposed law. Once the author introduces a bill, it is referred to committee. The committee holds hearings. There is an extensive vetting process. Interested parties can identify drafting flaws, argue for more optimal solutions, and suggest modifications. In contrast, direct initiatives are drafted by the sponsor and the text is finalized prior to beginning signature collection. In most cases, there is no informed deliberation, no consensus-building, and no compromise.</p>
    <p>The National Citizens Initiative for Democracy specifies a procedure that incorporates the best of direct and indirect initiative. Like direct initiatives, the incumbent legislature is not involved in drafting an initiative. Like indirect initiatives, a deliberative committee is convened (see <a href="http://ni4d.us/en/act_s3i">Democracy Act, 3-I</a>) to receive testimony from all stakeholders and to rewrite the initiative incorporating feedback and compromise.</p>
    </dd>
  <dt>
</dl>

<h2>How does it work?</h2>

<dl>
  <dt><a href="http://ni4d.us/en/people-qualified-faq">Q: Are the people qualified to be lawmakers?</a></dt>
  <dd><p>A: <a href="http://ni4d.us/en/matsusaka_2004">Matsusaka (2004)</a> noted that &quot;the fact that 49 of 50 states require popular approval by referendum for amendments to their constitutions---apparently without controversy---suggests that there is actually a broad consensus that ordinary citizens are capable of voting on issues&quot; (p. 178). Twenty-four states already have a mechanism for people to make certain types of law at a state and local level, <a href="http://ni4d.us/en/smith_tolbert_2004">in these states the people have legislated responsibly</a>. Many states also already have some type of initiative voting such as on bond issues. Civil service, campaign finance reform, women's right to vote, and environmental responsibility are but a few examples of the progressive legislation initiated and changed by the people.</p>
    <p>There is certainly a place for representative lawmaking. The people do not have the time or interest to oversee every policy decision. However, when it comes to determining the public interest, the public itself can make the most precise judgment.</p>
    <p><a href="http://ni4d.us/en/conflict-of-interest">Listen to Senator Mike Gravel contrast representative lawmaking with direct lawmaking (4m 34s).</a></p>
    <p>To appreciate the potential benefits of direct lawmaking, consider <a href="http://ni4d.us/en/do_you_participate">Switzerland</a>. There, an administration based on the U.S. Constitution has been combined with direct democracy. The result is without precedent in human history; Switzerland has evolved into one of the most successfully governed nations in the world.</p>
  </dd>
  <dt><a href="http://ni4d.us/en/faq-education">Q: What effect does initiative have on public policy?</a></dt>
  <dd><p>A: Ideally, public policy should match the aggregate desire of a politically savvy public. Naturally, public opinion changes and policy lags behind. Initiative permits public policy to catch up with public opinion (as measured by polls) more quickly than in a purely representative system of government.</p>
    <p><a href="http://ni4d.us/en/matsusaka_2004">Matsusaka (2004)</a> summarized his empirical results from looking at the years 1970 to 2000: &quot;First, over the last three decades, the initiative has had a significant impact on state and local governments. States with the initiative spent and taxed less than states without the initiative, they decentralized spending from state to local government, and they raised more money from user fees and less from taxes. Second, opinion surveys throughout the period show that a majority of people supported each of these policy changes: the voters wanted less spending, more local disbursement of funds, and greater reliance on user fees compared to board-based taxes. The facts, then, do not support the view that the initiative process allows special interests to distort policies away from what the public wants&quot; (p. 3).</p>
    <p>There are many indirect effects of citizen initiatives beyond the superficial ability of citizens to propose and vote on law. Since the public could overturn unpopular policy, representative lawmakers will be more careful about which proposals they advocate. Policy decisions would have greater legitimacy. More people would be involved in setting public policy. <a href="http://ni4d.us/en/smith_tolbert_2004">Citizens will be educated about the challenges of governance</a> and a greater diversity of ideas would be opened to consideration, fostering more creative solutions to the problems we face. By acting directly as legislators, We, the People will assume the responsibility and accountability for our self-governance. We will no longer have the need or right to blame the failure of public policy on others.</p>
  </dd>
  <dt><a href="http://ni4d.us/en/faq-law-conflict">Q: How will conflicts be resolved between laws passed by the People and those enacted by elected representatives?</a></dt>
  <dd>A: It is important to set up a <a href="http://ni4d.us/en/partnership">working partnership</a> between the people and their elected representatives. Once the people become lawmakers, they will be able to reform many of the practices of representative government through initiative laws enacted by a majority of citizens. Any statutory law, whether enacted by the People or their elected representatives, will take precedence over any previous legislation and will be subject to constitutionality. We expect that elected representatives who frequently vote to overturn or modify laws passed by the People will not long hold their positions.</dd>
  <dt><a href="http://ni4d.us/en/node/143">Q: Will the National Citizens Initiative for Democracy allow laws to be made at the state level?</a></dt>
  <dd><p>A: Yes. Citizens in states without any current initiative process, such as Texas and Connecticut, will be able to use NCID to vote on state-level legislation. In states like California, which has offered an initiative process for more than 100 years, citizens will be able to choose between the old initiative procedure and the new NCID procedure. Since NCID addresses many weaknesses identified in the existing California procedure, we expect most sponsors will prefer the new NCID procedure.</p></dd>
  <dt><a href="http://ni4d.us/en/node/446">Q: Why doesn't NCID repeal state-level initiative laws?</a></dt>
  <dd><p>A: NCID is drafted to minimize impact on existing law. It is simpler and shorter that way. After NCID is ratified, existing state-level initiative procedures will co-exist with NCID procedures. That way, citizens who have not studied NCID and who are more comfortable with existing state-level procedures have nothing to fear from NCID. We do not anticipate that both NCID and prior initiative law will be equally popular and operate simultaneously. We believe that NCID procedures are superior and that existing state-level procedures will fall into disuse. Once in disuse, representative legislatures are free to dismantle the obsolete procedures.</p></dd>
  <dt><a href="http://ni4d.us/en/faq-state-initiative">Q: Has experience with state initiative process informed the design of the National Citizens Initiative for Democracy?</a></dt>
  <dd><p>A: Yes. With respect to California, there is a book which goes into depth about the failings of the California initiative process. All weaknesses identified are addressed mainly by three provisions of the Citizens Legislative Procedures Act:</p>
    <ul>
      <li><a href="http://ni4d.us/en/act_s3f2">Qualification by Public Opinion Poll of Citizens (Act, 3-F-2)</a></li>
      <li><a href="http://ni4d.us/en/act_s3i">Deliberative Committee (Act, 3-I)</a></li>
      <li><a href="http://ni4d.us/en/act_s3p">Campaign Financing (Act, 3-P)</a></li>
    </ul>
    <p>See our <a href="http://ni4d.us/en/state-law">comparison to state initiative law</a> for a more detailed discussion.</p>
  </dd>
  <dt><a href="http://ni4d.us/en/corporate-power">Q: How does NCID address corporate influence of politics?</a></dt>
  <dd><p>A: NCID is modeled on the general concept of direct democracy, with two important elements that address corporate power:</p>
    <ul>
      <li>NCID outlaws corporate contributions to campaigns for or against an initiative, reversing the Supreme Court decision in <a href="http://supreme.justia.com/us/435/765/">First National Bank of Boston v. Bellotti (1978)</a>. See <a href="http://ni4d.us/en/act_s3l">Citizens Legislative Procedures Act, Section 3-L</a>.</li>
      <li>In existing direct initiative procedures, initiative language is finalized prior to signature collection. There is no informed deliberation, no consensus-building, and no compromise. To address this procedural weakness, NCID incorporates a <a href="http://ni4d.us/en/act_s3h">public hearing</a> and <a href="http://ni4d.us/en/act_s3i">deliberative committee</a> (a.k.a. citizen jury). The committee has the power to rewrite the initiative, incorporating feedback from all stakeholders. The entire hearing and deliberation proceedings are published / broadcast in all medium, neutralizing one-sided initiative campaigns by swamping the media with accurate, unbiased information.</li>
    </ul>
  </dd>
  <dt><a href="http://ni4d.us/en/faq_oppress_minorities">Q: Will the National Citizens Initiative for Democracy be used to oppress minorities?</a></dt>
  <dd><p>A: There are a number of arguments which suggest that minorities need not fear a national initiative:</p>
    <ul>
      <li>Minorities are protected by the right of free speech. The voice of minorities would be greatly amplified by NCID. <a href="http://ni4d.us/en/act_s4f5">Citizens Legislative Procedures Act, Section 4-F-5</a> would empower the Citizens Trust to disseminate a balanced analysis of initiatives via all modes of communication. <a href="http://www.ni4d.us/en/becker-audio">Listen to an introduction to deliberative polling (12m 29s)</a> from the 2002 Democracy Symposium.</li>
      <li>Direct initiative has been criticized as lacking informed deliberation, consensus-building, and compromise. Typically, initiative language is finalized prior to the beginning of signature gathering. To address this weakness, NCID incorporates a deliberative committee (see <a href="http://ni4d.us/en/act_s3i">Citizens Legislative Procedures Act, 3-I</a>) charged with receiving testimony from all stakeholders and rewriting the initiative incorporating feedback and compromise.</li>
      <li>Miller (2002) analyzed all initiatives from 1960 to 1999 in California, Oregon, Washington, and Colorado. Miller found that the courts invalidated, in whole or in part, 28% of the initiatives approved by voters. However, initiatives affecting minorities were invalidated at a much higher rate (46%). The courts are vigilant in examining whether initiative laws comply with the 14th amendment equal protection provision.</li>
      <li>Every initiative has its own unique majority and minority. For example: A citizen may be in the majority on an education initiative but in the minority on an energy initiative. Most initiatives will not start with an overwhelming majority. Advocates of both sides of an initiative will attempt to appeal to the undecided and minorities. This recurring dynamic develops concern for minorities.</li>
      <li>The protection extended to minorities by a ruling elite minority is no more certain than the protection extended by the majority. For example, <a href="http://ballotpedia.org/wiki/index.php/Oklahoma_Initiative_10_(1910)">Oklahoma Initiative 10</a> disenfranchised black citizens in 1910, but around the same time, numerous <a href="http://en.wikipedia.org/wiki/Jim_crow_laws">Jim Crow</a> laws were being enacted by legislatures. <a href="http://encyclopedia.jrank.org/articles/pages/5943/Alien-Land-Laws.html">California Proposition 1</a> restricted the property rights of Japanese in 1920, but then during World War II, elected officials placed some 60,000 American citizens of Japanese origin in internment camps. No form of government is perfect.</li>
    </ul>
    <p><a href="http://ni4d.us/en/conflict-of-interest">Listen to Senator Mike Gravel discuss the difference between representative lawmaking and direct lawmaking (4m 34s)</a>.</p>
    <p>A more rigorous treatment of this issue can be found in Verhulst and Nijeboer (2007), pp. 70-72 and Allen (2002), p. 2.</p>
  </dd>
  <dt>Q: If representative government is intrinsically flawed, why don't we replace it instead of supplementing it?</dt>
  <dd><p>A: We have over 200 years of experience with representative government, much of it successful. Bringing the citizen lawmaking to the federal government will permit our representatives to take back a good deal of the power that has devolved to bureaucracy. <a href="http://ni4d.us/en/partnership">They will be in a position to be more responsive to the People with respect to the day-to-day operations of government</a>. This legislative task is called &quot;oversight,&quot; of which our representatives presently do very little due to a lack of time.</p></dd>
  <dt>Q: Couldn't the Citizens Trust become corrupt?</dt>
  <dd><p>A: Trustees have few responsibilities. Their main responsibility is to elect a Director. They are charged with oversight of the Citizens Trust and may recall the Director with a supermajority. Trustees are not responsible for making day-to-day decisions.</p>
    <p>Despite the modest responsibilities of being a Trustee, there are a variety of protections written into the Act to prevent abuse:</p>
    <ul>
      <li><a href="http://ni4d.us/en/act_s4b2">Trustees serve a single term and cannot be re-elected</a>.</li>
      <li><a href="http://ni4d.us/en/act_s4b3">Trustees can be removed from office in a recall election or if three-fourths of the Trustees vote for his or her removal</a>.</li>
      <li><a href="http://ni4d.us/en/act_s4b5">All Citizens Trust meetings are open to the public</a>.</li>
    </ul>
    <p>Read more about Switzerland <a href="http://ni4d.us/en/do_you_participate">here</a></p>
  </dd>
  <dt><a href="http://ni4d.us/en/faq-innovations">Q: Which aspects of NCID are particularly innovative?</a></dt>
  <dd><p>A: If you are writing an article for a blog or a newspaper, consider covering one or more of the following provisions of the Citizens Legislative Procedures Act:</p>
    <ul>
      <li><a href="http://ni4d.us/en/act_s3f2">Qualification by Public Opinion Poll of Citizens (Act, 3-F-2)</a></li>
      <li><a href="http://ni4d.us/en/act_s3i">Deliberative Committee (Act, 3-I)</a></li>
      <li><a href="http://ni4d.us/en/act_s3l">Campaign Financing (Act, 3-L)</a></li>
    </ul>
    <p>To the extent possible under law, <a href="http://ncid.us/">ncid.us</a> has waived all copyright and related or neighboring rights to the following sample or model description of NCID:<a style="text-decoration: none;" rel="license" href="http://creativecommons.org/licenses/zero/1.0/">     <img border="0" style="float: right;" alt="CC0" src="http://i.creativecommons.org/l/zero/1.0/80x15.png"></a></p>
    <blockquote>
      <ul>
        <li>In 24 states, we have ballot initiatives. Ballot initiatives permit public policy to catch up with public opinion (as measured by polls) more quickly than in a purely representative system of government. Moreover, ballot initiatives have indirect effects of bringing accountability to representative legislatures, educating citizens about public policy issues, and fostering more creative solutions to the problems we face. The National Citizens Initiative for Democracy (NCID) is a proposal to add ballot initiatives at the federal level and in all jurisdictions.</li>
        <li>NCID is modeled on direct initiative as practiced in many states, but also introduces three key reforms: (a) NCID outlaws corporate contributions to campaigns for or against an initiative, reversing the Supreme Court decision in First National Bank of Boston v. Bellotti (1978)  and in Citizens United v. FEC (2010). (b) In existing direct initiative procedures, initiative language is finalized prior to signature collection. There is no informed deliberation, no consensus-building, and no compromise. To address this procedural weakness, NCID incorporates a public hearing and deliberative committee (a.k.a. citizen jury). The committee has the power to rewrite the initiative, incorporating feedback from all stakeholders. (c) NCID includes an option to qualify initiative proposals by polling. In large jurisdictions, polling is a less expensive and more accurate way to assess whether the public wishes to consider an issue than signature collection.</li>
      </ul>
    </blockquote>
    <p>Learn how all the facets of NCID fit together; please go through the <a href="http://ni4d.us/en/quiz">quiz</a>.</p>
  </dd>
  <dt><a href="http://ni4d.us/en/how_civic_maturation">Q: Why select a new deliberative committee for every initiative?</a></dt>
  <dd><p>A: Another way of institutionalizing direct democracy is to convene a general legislative body by random selection. This is the approach advocated for by <a href="http://www.initiativesamendment.org/">Citizens for Direct U.S. Initiatives</a>. The main disadvantage of this approach is that fewer people would be involved in the legislative process per unit time. Perhaps the most important benefit of NCID is not the anticipated improvement in law but in the development and distribution of lawmaking experience. Hirsch thoroughly discussed this benefit of NCID is his <a href="http://ni4d.us/en/hirsch_2002">2002 Hastings article</a>.</p></dd>
</dl>

<h2>Action Plan</h2>
<dl>
  <dt><a href="http://ni4d.us/en/how-much-time">Q: How long will it take to enact the National Citizens Initiative for Democracy?</a></dt>
  <dd><p>A: Ballot initiative is a matter of <a href="http://ni4d.us/en/suffrage">suffrage</a>. We are in this for the long run. To gain some perspective, compare our effort to the women's suffrage movement (Waters, 2003, p. 504):</p>
    <blockquote>
      <ul>
        <li>Carrie Chapman Catt summarized the women's suffrage effort when she said, &quot;[t]o get the word 'male' in effect out of the Constitution cost the women of the country fifty-two years of pauseless campaign...During that time they were forced to conduct fifty-six [initiative] referenda campaigns to male voters; 480 campaigns to get legislatures to submit suffrage amendments to voters; 47 campaigns to get state constitutional conventions to write woman suffrage into state constitutions; 277 campaigns to get state party conventions to include woman suffrage planks in party platforms, 30 campaigns to get presidential party conventions to adopt women's suffrage planks into party platforms, and 19 campaigns with 19 successive Congresses.&quot;</li>
      </ul>
    </blockquote>
  </dd>
</dl>
