<h1>Full Texts</h1>
<h2>Citizens Amendment to the United States Constitution</h2>

<ol>
  <li>The sovereign authority of the People of the United States vested in an independent "Legislature of the People" with the power to enact, repeal, and amend public policies, laws, charters, and constitutions by local, state and national initiative shall not be denied or abridged by any federal, state or local government of the United States.</li>
  <li>A Citizens Trust is hereby created to conduct initiative elections and to administer the legislative procedures created by the Citizens Legislative Procedures Act. A Board of Trustees and a Director shall govern the Citizens Trust. The Citizens Legislative Procedures Act defines the composition of the Board of Trustees and their election, their duties and responsibilities; and the duties, responsibilities and the selection process of the Director.</li>
  <li>An initiative created under the authority of this Amendment that amends the Constitution of the United States or the constitution of any state or the charter of any local government becomes law when it is approved by more than half the registered voters of the relevant government jurisdiction in each of two successive elections. If the amendment is approved in the first election, a second ratification election shall occur no earlier than six months and no later than a year after the first election. An initiative that enacts, modifies or repeals a statute becomes the law when approved by more than half the registered voters of the relevant government jurisdiction who participate in the election.</li>
  <li>Only natural persons who are citizens of the United States may introduce legislation, contribute funds, services or property in support or in opposition to initiatives under this Amendment.</li>
  <li>Citizens shall have the power to enforce the provisions of this Amendment through the accompanying Citizens Legislative Procedures Act and additional appropriate legislation. No court in the United States may enjoin an initiative election except on grounds of fraud.</li>
</ol>

<h2>Citizens Legislative Procedures Act</h2>

<div class="node ntype-page" id="node-264">
  <div class="content">
    <p>An Act establishing legislative procedures and an administrative agency to administer the legislative procedures on behalf of the citizens of the United States so they can deliberatively exercise their legislative powers; and adding to the Federal Code.</p>

    <p>Be It Enacted By The Citizens Of The United States:</p>

    <ol type="1" class="aa">
      <li>TITLE.<br>
        This act shall be known and may be cited as the Citizens Legislative Procedures Act.</li>
      <li>PREAMBLE.<br>
        We, the People of the United States, inherently possess the sovereign authority and power to govern ourselves. We asserted this power in our Declaration of Independence and in the ratification of our Constitution.  We, the People, choose to participate as lawmakers in all government jurisdictions.  <br>
        AND THEREFORE, We, the People, enact this Citizens Legislative Procedures Act, establishing a "Legislature of the People" and providing for its legislative procedures and their administration by a Citizens Trust on our behalf.</li>
      <li>LEGISLATIVE PROCEDURES.<br/>
        The Citizens Trust (hereinafter "Trust") shall qualify initiatives chronologically. The Trust shall take advantage of contemporary technology in implementing these procedures so as to facilitate as much as possible the citizen's legislative role. The essential elements of the initiative process include, but are not limited to, the following:<br/><br/></li>
        <ol type="A" class="aa">
          <li>Sponsor. <br>
            Only citizens of the United States who are natural persons registered to vote may introduce and sponsor an initiative.  The Sponsor shall be identified on the initiative, on any petition, and on any qualifying poll.</li>
          <li>Form. <br>
            An initiative shall comprise a Title, a Summary, a Preamble that states the subject and purposes for the initiative, and the complete text of the initiative.</li>
          <li>Content. <br>
            An initiative shall pertain to matters of public policy relevant to the government jurisdiction to which it is applicable. The Sponsor shall determine the initial wording of the initiative.  The Title and Summary shall be subject to the approval of the Trust.</li>
          <li>Subject. <br>
            An initiative shall address only one subject but may include related or mutually dependent parts.</li>
          <li>Word Limit. <br>
            An initiative shall contain no more than five thousand words, exclusive of the Title, Preamble, Summary, references, definitions and language that quotes existing law.</li>
          <li>Qualification. <br>
            Following approval of the Title and Summary by the Trust, an initiative may qualify for election in the relevant government jurisdiction by any one of the following methods:<br/><br/></li>
            <ol type="1" class="aa">
              <li>Citizen Petition. <br>
                An initiative shall qualify for election if it is the subject of a petition signed manually or electronically by a number of registered voters, to be specified by the Trust, within the relevant government jurisdiction.  The time period allotted to gather qualifying petition signatures shall be at least one year and not more than two years, beginning on the date the first signature is collected.</li>
              <li>Public Opinion Poll of Citizens. <br>
                An initiative shall qualify for election when the subject matter described in the title and summary is approved by a majority of respondents in a public opinion poll. To qualify by this method, the polling plan including the number of respondents, the methodology and the entity that will conduct the poll, shall be approved by the Trust.</li>
              <li>Legislative Resolution. <br>
                An initiative shall qualify for election, if a resolution, the wording of which is identical to the initiative as submitted by its sponsors is passed by a simple majority  in the  legislative body of the relevant government jurisdiction.</li>
            </ol>
          </li>
          <li>Communications <br>
            Once an initiative is qualified, the title, summary, preamble, text and the identity of its sponsors shall be published on an Internet website and in various mediums of communication. Additional information: the Hearing Record; the Deliberative Committee report; the result of the Legislative Advisory Vote; statements prepared by the Sponsor, other proponents and opponents; and a balanced analysis prepared by the Trust of the pros and cons of the initiative, including its costs and benefits and societal, environmental, and economic implications, shall be added to the publication of this initiative as this information becomes available.</li>
          <li>Public Hearing. <br>
            After an initiative qualifies for election, the Trust shall appoint a Hearing Officer to conduct a public hearing. Representatives of the initiative's Sponsor and representatives of the legislative body of the relevant government jurisdiction shall participate in the hearing in accordance with policies and procedures established by the Trust. Testimony on the initiative by proponents, opponents, and experts shall be solicited and their testimony shall be published as the Hearing Record.</li>
          <li>Deliberative Committee. <br>
            After the public hearing the Trust shall convene a Deliberative Committee demographically representing the government jurisdiction to review each initiative. The Deliberative Committee shall be drawn at random from a pool of citizens previously developed and maintained by the Trust. Each member of the Deliberative Committee shall be fairly compensated for time spent and expenses incurred in performance of Committee duties. The Trust shall provide technical support and such additional resources as are necessary for the effective discharge of the Committee's duties. The Deliberative Committee shall review the Hearing Record, secure expert advice, deliberate the merits of the initiative, and prepare a written report of its deliberations and recommendations. By two-thirds vote, the Deliberative Committee may alter the Title, Summary, Preamble or text of the initiative, provided that the changes are consistent with the stated purposes of the initiative.</li>
          <li>Legislative Advisory Vote.      <br>
            Each initiative, together with its Hearing Record and report of the Deliberative Committee, shall be transmitted to the legislative body of the relevant government jurisdiction. The legislative body shall conduct a public vote of its members, recording the yeas and nays on the initiative, within 90 days after receipt thereof. The vote of the legislative body is non-binding, serving only as an advisory to the citizens.</li>
          <li>Promotional Communications. <br>
            Any communication, regardless of the medium through which conveyed, that promotes or opposes an initiative shall conspicuously identify the person(s) responsible for that communication, in a manner specified by the Trust.</li>
          <li>Campaign Financing. <br>
            Only United States citizens may contribute funds, services or property in support of or in opposition to an initiative.  Contributions from corporations including, but not limited to, such incorporated entities as industry groups, labor unions, political parties, political action committees, organized religious bodies and associations are specifically prohibited.  Such entities are also prohibited from coercing or inducing employees, clients, customers, members, or any other associated persons to support or oppose an initiative.  Violation of these prohibitions is a felony punishable by not more than one year in prison, or a fine not to exceed One Hundred Thousand Dollars, or both, per instance, applied to each person found guilty of the violation.</li>
          <li>Financial Disclosure. <br>
            The Trust shall establish financial reporting requirements applicable to initiative sponsors, proponents and opponents. The Trust shall make all financial reports available to the public immediately upon its receipt thereof. Failure of sponsors, proponents or opponents to comply with these reporting requirements shall be a felony punishable by not more than one year in prison or a fine not to exceed One Hundred Thousand Dollars, or both, per instance, applied to each person found guilty of the violation.</li>
          <li>Election. <br>
            Upon completion of the Legislative Advisory Vote, or 90 days after the initiative has been delivered to the legislative body of the relevant government jurisdiction, whichever occurs first, the Trust shall publish a schedule for the election of the initiative and shall conduct an election in accordance with the published schedule. The Trust shall conduct all initiative elections employing the most effective technology and need not be bound to confining an election to a single day.  The Trust may expand an election to twenty four hours a day for seven days. The Trust shall make voting on initiatives as convenient as possible for citizens.</li>
          <li>Enactment. <br>
            An initiative that creates or modifies a constitution or charter becomes law when it is approved by more than half the registered voters of the relevant government jurisdiction in each of two successive elections. If the amendment is approved in the first election, a second ratification election shall occur no earlier than six months and no later than a year after the first election. An initiative that enacts, modifies or repeals a statute becomes the law when approved by more than half the registered voters of the relevant government jurisdiction who participate in the election.</li>
          <li>Effective Date. <br>
            The effective date of an initiative, if not otherwise specified in the initiative, shall be forty-five days after certification of its enactment by the Trust.</li>
          <li>Judicial Review. <br>
            No court shall have the power to enjoin any initiative election except on grounds of fraud. After a statutory initiative has been enacted into law, courts, when requested, may determine the constitutionality of the law.</li>
          <li>Withdrawal. <br>
            The Sponsor of an initiative may withdraw an initiative from further consideration and processing at any time prior to a deadline established by the Trust.</li>
        </ol>
      </li>

      <li>UNITED STATES CITIZENS TRUST <br>
        The Citizens Trust shall administer the Citizens Legislative Procedures Act. The Trust shall be governed by a Board of Trustees and a Director.  The Trust shall take advantage of contemporary technology in carrying out its mission.  The activities of the Trust shall be transparent to the public.<br/><br/></li>
        <ol type="A" class="aa">
          <li>Mission. <br>
            The Trust shall impartially administer the Citizens Legislative Procedures Act, so as to facilitate the exercise of the citizens' legislative role.  The Trust shall ensure that citizens may file, qualify and vote on initiatives relevant to any government jurisdiction at any time and from any location. The Trust shall neither influence the outcome of any initiative, nor alter the substance of any initiative, except as specified in Section 3.I. The Trust may promulgate regulations to more fully meet its responsibilities under this Act.</li>
          <li>Board of Trustees. <br>
            The Board of Trustees shall establish policy for and perform oversight of the Trust.</li>
            <ol type="1" class="aa">
              <li>Membership. <br>
                The Board of Trustees shall be composed of 53 members: one member elected by the majority of citizens who are registered voters of each of the 50 states, the District of Columbia, Puerto Rico and the Territories of the United States. Elections of Trustees may use rank-order voting to avoid runoff elections.</li>
              <li>Term of Office. <br>
                Members of the Board of Trustees shall serve a single four year term, except for the interim Board of Trustees as follows: Immediately after the first election, the members shall be divided as equally as possible into two classes. The seats of the members of the first class shall be vacated at the expiration of the second year; the seats of the members of the second class shall be vacated at the expiration of the fourth year.</li>
              <li>Removal Of Trustees. <br>
                Any member of the Board of Trustees shall be removed from office upon a three-fourths vote of the full membership of the Board of Trustees, or by a majority of the voters participating in a recall election in the political jurisdiction from which the member was elected.</li>
              <li>Vacancies. <br>
                Vacancies on the Board of Trustees shall be filled by majority vote of the full membership of the Board of Trustees on candidates who shall represent the political jurisdiction of the Trustee whose seat is vacant.  A member appointed to fill a vacancy may not subsequently be elected to the Board of Trustees.</li>
              <li>Meetings. <br>
                The Board of Trustees shall meet at least annually and at such other times and in such places as it deems appropriate to conduct its business.   All meetings of the Board shall be publicized in advance and open to the public, except as required by law.  The Trust shall promptly publish the minutes and audio visual recordings of all meetings of the Board, except as required by law.</li>
            </ol>
          </li>
          <li>Interim Board of Trustees. <br>
            An Interim Board of Trustees is hereby appointed composed of the highest elected official (e.g., Lieutenant Governor, Secretary of State) responsible for the conduct of elections from each of the fifty states and Puerto Rico and the highest official responsible for the conduct of elections from the District of Columbia and the Territories of the United States. The responsibility and authority of this Interim Board shall be confined to establishing policy and oversight for the lifetime registration of each citizen of the United States eligible to vote on an initiative, and establishing policy and oversight for the election of the members of the Board of Trustees.</li>
          <li>Director. <br>
            The Director of the Trust is the Chief Executive Officer of the Citizens Trust and is responsible for its day-to-day management and operations, consistent with the policies of the Act and those established by the Board of Trustees. The Director shall facilitate the conduct of the first election of the Board of Trustees as soon as possible.<br/><br/></li>
            <ol type="1" class="aa">
              <li>Term of Office. <br>
                The Director, except for the first Director, shall be appointed by majority vote of the Board of Trustees. The Director shall serve for a term of six years and is limited to an additional six-year term. The Board of Directors of The Democracy Foundation shall appoint the first Director.</li>
              <li>Removal Of Director. <br>
                The Director may be removed from office upon a two-thirds vote of the full membership of the elected Board of Trustees, or by a majority of the voters participating in a national recall election.</li>
              <li>Vacancy. <br>
                A vacancy in the position of Director shall be filled by majority vote of the full membership of the Board of Trustees.</li>
            </ol>
          </li>
          <li>Oath or Affirmation of Office. <br>
            Each Member of the Board of Trustees, the Interim Board of Trustees, the Director and each employee of the Trust shall execute the following oath or affirmation of office as a condition of his or her service:  &quot;I, (name), (swear or affirm) that I will, to the best of my ability, defend and uphold the Constitution of the United States and the sovereign authority of the People to exercise their legislative power.&quot;</li>
          <li>Organization and Responsibilities. <br>
            The Trust shall organize itself to fulfill its mission and shall develop policies, procedures and regulations to register citizens for life as they become eligible to vote, to assist sponsors in preparing initiatives for qualification, to process initiatives, to administer initiative elections and to administer elections and recall elections of the Board of Trustees and recall elections of the Director.  The Trust may select and contract for facilities and services, hire staff, and prescribe their duties and compensation. The Trust may also apply for and receive funds, and incur debt when necessary, and shall act in a responsible manner as an independent fiduciary agency.<br/><br/></li>
            <ol type="1" class="aa">
              <li>Existing Law. <br>
                In fulfilling its responsibilities and performing its duties, the Trust shall comply with applicable laws and regulations of every government jurisdiction of the United States in which it operates that do not conflict with its mission defined in Section 4 A.  Where laws are in conflict, this Citizens Legislative Procedures Act shall supersede.</li>
              <li>Voter Registration. <br>
                The Trust shall develop requirements, facilities and procedures for universal lifetime voter registration of citizens of the United States which shall be binding, in elections conducted under the authority of the Citizens Amendment and this Act, in every government jurisdiction in which a voter is, or may become, a legal resident.</li>
              <li>Research and Drafting Service. <br>
                The Trust shall establish and operate a legislative research and drafting service to assist citizens in preparing initiatives.</li>
              <li>Deliberation Committees. <br>
                The Trust shall establish a pool of registered voters, in each government jurisdiction, qualified as having some level of civic knowledge from which can be randomly drawn members for the Deliberative Committees that are convened for each qualified initiative. Selected pools should demographically represent the government jurisdiction and be equally divided between men and women.</li>
              <li>Communication. <br>
                The Trust shall establish the means, procedures, facilities and regulations to facilitate the communication of timely, comprehensive, balanced, and pertinent information on the subject matter of each initiative. This information shall be conveyed to the citizens of the relevant government jurisdiction by electronic means and various media, including radio, television, print, and the Internet.</li>
              <li>Hearings and Deliberative Committees. <br>
                The Trust shall organize a Hearing to receive testimony and shall convene a Deliberative Committee to deliberate on each qualified initiative. The Trust shall provide or arrange for professional Hearing Officers and Deliberation Facilitators, technical consultants and support staff and facilities, as needed for the effective conduct of Hearings and Committee activities.</li>
              <li>Election of Initiatives and Board of Trustees. <br>
                The Trust shall devise and administer policies and procedures to conduct elections of initiatives, of the Board of Trustees, and for the recall of any Trustee or the Director.  In doing so, it shall take advantage of contemporary technology in developing procedures for voting and validating votes.  Elections need not be confined to one day and may be conducted twenty four hours a day for seven days. All such policies and procedures shall be neutral with respect to the content and outcome of the election.</li>
            </ol>
          </li>
          <li>Budgets.  <br>
            Budgets covering all elements of the Trust's operations and activities shall be prepared and published consistent with government practices and the public nature of the Trust's responsibilities.</li>
        </ol>
      </li>
      <li>APPROPRIATIONS. <br>
        The appropriation of funds is hereby authorized from the Treasury of the United States, pursuant to Article I, Section 9 (7) of the Constitution of the United States, to enable the Trust to organize itself and begin the performance of its duties. Appropriations shall be made annually to the Trust as an independent agency of the United States Government.</li>
      <li>SEVERABILITY. <br>
        In the event that any one or more of the provisions of this Act shall for any reason be held to be invalid as a result of judicial action, the remaining provisions of this Act shall be unimpaired.</li>
      <li>EPILOGUE. <br>
        The National Citizens Initiative for Democracy is a fundamental law that enables the people to exercise their sovereign legislative power through the creation of a "Legislature of the People", by providing them with procedures to amend the Constitution and enact laws, procedures that the constitutional Framers failed to provide for in the Constitution of the United States in 1787. The Citizens Legislative Procedures Act begins with the phrase "Be It Enacted By The Citizens Of The United States." The phrase "Citizens of the United States" differs from the terminology employed in the Constitution and the Declaration of Independence that identified Americans as "We, the People." The initial ratification process of the Constitution under Article 7, which created the United States government, required a majority of delegates to ratify the Constitution in nine state conventions. With the enactment of the National Citizens Initiative for Democracy, the people are now truly sovereign citizens by their choice to register and to vote, thus exercising their innate right to participate in the power of law-making. As a result, citizens' actions now have a greater authority by accurately reflecting the public will since they are now engaged directly rather than through delegates to state conventions.</li>
      <dl>     </dl>
    </ol>
  </div>
</div>

